# Hosting environment specific
/log/*
/tmp/*
/backup/*
/cnf/tags
/.zprofile
/.profile
/.zsh_history
/.zshrc
/.viminfo
/.zcompdump-*
/.ssh/*
/.gitconfig
/.config/htop
/.selected_editor
/.my.cnf
/.mysql_history
/.cache/*

# Files created by the OS
.DS_Store
.DS_Store?
._*
.Spotlight-*
.Trashes
ehthumbs.db
Thumbs.db

# Project defaults
/ext/*
/private/*
!/private/typo3conf/LocalConfiguration.php
!/private/typo3conf/AdditionalConfiguration.ddev.php
!/private/typo3conf/RealurlConfiguration.php
/vendor/*
/web/*
!/web/browserconfig.xml
!/web/humans.txt
!/web/robots.txt

# Project specific
