# Hosting environment specific
/log/*
/tmp/*
/backup/*
/cnf/nginx-*.conf
/cnf/tags
/.zprofile
/.profile
/.zsh_history
/.zshrc
/.viminfo
/.zcompdump-*
/.ssh/*
/.gitconfig
/.config/htop
/.selected_editor
/.my.cnf
/.mysql_history
/.cache/*
/.config/*
/.local/*

# Files created by the OS
.DS_Store
.DS_Store?
._*
.Spotlight-*
.Trashes
ehthumbs.db
Thumbs.db

# Project defaults
/.env
/data/*
/ext/*
/private/*
!/private/typo3conf
/private/typo3conf/*
!/private/typo3conf/LocalConfiguration.php
!/private/typo3conf/AdditionalConfiguration.php
!/private/typo3conf/RealurlConfiguration.php
/vendor/*
/web/*
!/web/banner.png
!/web/browserconfig.xml
!/web/humans.txt
!/web/robots.txt
!/web/security.txt
!/web/unavailable.html
xdebug-log

# Project specific

# Global exceptions, keep at the eof
!.gitkeep
